/*
Colors:
  Blue: #1c9ObO
  Black: #141414
  Grey: dcdcdc

Type:
  Headings: Playfair Display
  Body: Open Sans
*/
img {
  width: 100%;
 }

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #141414;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 900;
  color: #4a4a4a;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  color: #4a4a4a;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: #4a4a4a;

}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  color: #4a4a4a;
}

a {
  color: #4a4a4a;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #1c90b0;
}

a:hover {
  color: #1c90b0;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #1c90b0;
}

a:focus {
  color: #1c90b0;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #4a4a4a;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 300;
  padding: 8px;
  border-radius: 5px;
  border-bottom: none solid #4a4a4a;
  box-shadow: 0px 4px 4px rgb(56, 56, 56, 0.3);
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #4a4a4a !important;
  text-transform: none;
  border: 1px solid #4a4a4a;
}
.button.contact:hover {
  background-color: #4a4a4a;
  color: #ffffff !important;
}
